
  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
  .ReactModal__Content{
    width: 94%;
    max-height: 610px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
  .ReactModal__Content .btn-cerrar,
  .modal-container .btn-cerrar{
    position: absolute;
    right: 4px;
    top: 24px;
    border: 0;
    background: var(--white);
    font-size: 24px;
  }
  .modal-container{
    position: relative;
    width: 100%;
  }
  .modal-container h2{
    text-align: center;
    margin-top: 30px;
  }
  .modal-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  .modal-form input[type="text"],
  .modal-form textarea,
  .modal-form select,
  .modal-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  /* Estilos para el botón de enviar */
  .modal-form .btn-guardar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--darkBlue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .modal-service{
    display: grid;
    grid-template-columns: 110px 150px 160px;
    gap: 0 12px;
    margin: 20px 0;
  }
  .modal-service div{
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .modal-service div label{
    margin: 0;
    font-weight: 400;
    font-size: 13px;
  }
  .url-img-add{
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  .url-img-add button{
    height: 36px;
    padding: 0 8px;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 6px;
  }
  .list-url-img li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    border-bottom: 1px solid #A2A2A2;
  }
  .list-url-img li span{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
  }
  .list-url-img li button{
    background: transparent;
    border: 0;
    font-size: 19px;
    color: red;
  }
  
  