@import url(./App.css);
.content-main-login{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_login {
    width: 80%;
    max-width: 430px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.campo-formulario_item{
 margin-top: 20px;
}

.imagen-logo {
    text-align: center;
    margin: 10px;
}

.imagen-logo img {
    height: 80px;
}

.contenedor_login-title h2 {
    text-align: center;
    color: var(--darkBlue);
    font-size: 24px;
    margin: 10px;
}

.contenedor_login-title p {
    text-align: center;
    color: var(--lightGray);
    font-size: 16px;
    margin: 5px;
}

.campo-formulario {
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    margin: 0px;
}

.campo-formulario label {
    color: var(--gray);
}

.campo-formulario input {
    color: var(--lightGray);
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.campo-formulario input:focus {
    outline: 0px;
}
.content-pass{
    position: relative;
}

.content-pass .icon-eye {
    color: var(--lightGray);
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px;
}

.olvidoContrasena {
    color: var(--lightGray);
    display: block;
    text-align: center;
}

.contenedor_login-recordar-contrasena input {
    margin-left: 10px;
}

.contenedor_login-recordar-contrasena label {
    color: var(--lightGray);
    margin-left: 5px;
}

.contenedor_login button {
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 7px auto;
    width: 98%;
}

.contenedor_login p {
    text-align: center;
    color: var(--lightGray);
}

.swal2-container-custom {
    font-size: 14px;
}

.swal2-popup-custom {
    max-width: 300px;
}

.swal2-title-custom {
    font-size: 18px;
}

.swal2-icon-custom {
    font-size: 14px;
}

.swal2-confirm-custom {
    font-size: 14px;
}

.swal2-icon-custom::before {
    color: #F2994A;
}