@import url(./App.css);
.panel{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: flex-start;
    max-width: 86%;
    margin: 10% auto 0;
    gap: 40px;
}
.Ct-Tabla {
    height: 530px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F2F2F2;
    padding: 10px 20px;
}

.Ct-Tabla th {
    color: var(--white);
}

.Ct-Tabla td {
    color: var(--black);
}

.Ct-Tabla td ul{
    list-style: none;
}

.Ct-Tabla table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

.Ct-Tabla th,
.Ct-Tabla td {
    border: 1px solid #ddd; 
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

.Ct-Tabla td button {
    margin: 5px;
    width: 57px;
    padding: 2px;
}

.Ct-Tabla th {
    background-color: var(--darkBlue); 
}

.Ct-Tabla img {
    max-width: 100px; /* Puedes ajustar el tamaño máximo según lo necesites */
    height: auto; /* Esto mantiene la proporción de la imagen */
}

.buscador-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: space-between;
}
.content-buscador{
    display: flex;
    align-items: center;
    gap: 10px;
}

.buscador input {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 15%;
}

.agregar-usuario {
    background-color: var(--orange);
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.agregar-usuario:hover {
    background-color: #0056b3;
}

.editar-usuario {
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
}
.eliminar-usuario {
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 5px;
}
.btn-listar{
    background: var(--darkBlue);
    border: 2px solid var(--white);
    color: var(--white);
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
